header {
    transition: background-color 0.3s ease-in-out;
    &.scrolled {
        background-color: rgba(59, 130, 246, 0.75);
        h1 {
            transition: transform 0.3s ease;
          }
    }
}