@use "tailwindcss";

* {
	box-sizing: border-box;

	/* Designing for scroll-bar */
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #F2F4F7;
		border-radius: 5px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #D0D5DD;
		border-radius: 5px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		// background: #555;
	}

	letter-spacing: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
